# Reset the auto-include from setuptools_scm
exclude *
prune *

# Re-include files which setuptools auto-includes
include MANIFEST.in pyproject.toml README.rst
graft src/*.egg-info

# Include the module
graft src/zipfile_inflate64

# Include the docs
graft docs
